<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide" class="img-carousel">
    <div class="carousel-caption">
      <h4>"Style is something each of us already has, all we need to do is find it." </h4>
      <h6>—Diane von Furstenberg</h6>

    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide" class="img-carousel">
    <div class="carousel-caption">

      <h4>"Fashion is the armor to survive the reality of everyday life."</h4>
            <h6> —Bill Cunningham</h6>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide" class="img-carousel">
    <div class="carousel-caption">

      <h4>Fashion is what you buy.<br>Style is what you do with it. </h4>
            <h6>Third slide label</h6>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img [src]="images[3]" alt="Random third slide" class="img-carousel">
    <div class="carousel-caption">
      <h4>"You can have anything you want in life if you dress for it." </h4>
      <h6>— Edith Head.</h6>

    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img [src]="images[4]" alt="Random third slide" class="img-carousel">
    <div class="carousel-caption">
      <h4>"Style is something each of us already has, all we need to do is find it." </h4>
      <h6>—Diane von Furstenberg</h6>

    </div>
  </ng-template>
</ngb-carousel>
